:root {
  font-family: 'Rajdhani', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-sc-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Default Theme Variables */
  --color-sc-dark-rgb: 11 12 16;
  --color-sc-panel-rgb: 31 40 51;
  --color-sc-blue-rgb: 102 252 241;
  --color-sc-light-blue-rgb: 69 162 158;
  --color-sc-grey-rgb: 197 198 199;

  /* Legacy variable support if needed */
  --color-sc-dark: rgb(var(--color-sc-dark-rgb));
  --color-sc-panel: rgb(var(--color-sc-panel-rgb));
  --color-sc-blue: rgb(var(--color-sc-blue-rgb));
  --color-sc-light-blue: rgb(var(--color-sc-light-blue-rgb));
  --color-sc-grey: rgb(var(--color-sc-grey-rgb));
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  height: 100vh;
}
